<div class="fixed-bottom">
    <footer class="py-3">
      <ul class="nav justify-content-center border-dark border-4 border-bottom pb-3 mb-3">
        
      </ul>
     <strong><p class="text-center  text-black">© 2023 AGROINDUSTRIAS DIADEMA ZONA FRANCA HONDURAS S.A</p></strong>
      <strong><p class="text-center  text-black">POWER BY ICT</p></strong>
    </footer>
</div>
